
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    background-color: rgb(232, 220, 184)
}
p {
    margin: 6px;
}
iframe {
    margin-top: 10px;
}
h3 {
    margin: 6px;
}